{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<h2 class="text-center pt-sm-5 pt-0 pb-5">Login</h2>
<div class="mx-auto">
  <form class="form-signin mx-auto" method="post" action="{% url 'app:login' %}">{% csrf_token %}
    {% if form.errors %}
    <p>Username or password is wrong.</p>
    {% endif %}
    <div class="row">
      <div class="col-4 pl-sm-5 pl-4">
        <div>
          <label>Email</label><br>
          <input name="username"><br> <!--emailではない-->
        </div>
        <div>
          <label>Password</label><br>
          <input type="password" name="password"><br>
        </div>
        <div class="pt-3 pb-5">
          <input type="submit" value="Login">
        </div>
        <div class="mr-lg-5 icon">
          <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block btn-social btn-google">
            <span class="fa fa-google"></span> log in with Google
          </a>
        </div>
      </div>
      <div class="col-8">
        <img src="{% static 'img/app/signup_login.png' %}" alt="signup_login">
      </div>
    </div>
  </form>
</div>
{% endblock %}
