/* default */
$purple: #5f55af;
$blue: #07a9f0;
$deep-orange: #ff9100;
$orange: #ffb52d;
$black: #000;
$light-grey: #ececec;
$white: #fff;

ul {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
// end of default

html {
  font-family: "Piedra", cursive;
  font-family: "Righteous", cursive;
  &:focus-within {
    scroll-behavior: smooth;
  }
  body {
    text-rendering: optimizeSpeed;
    font-family: "Piedra", cursive;
    font-family: "Righteous", cursive;
    background-color: $blue;
    @media screen and (max-width: 414px) {
      body {
        font-size: 0.7rem;
      }
    }
    // footer
    footer {
      background-color: $blue;
      li {
        color: $orange;
        a {
          color: $orange;
          &:hover {
            color: $purple;
          }
        }
      }
    }
    // index
    section.index-wrapper {
      border: solid 1px transparent;
      background-color: $light-grey;
      DL {
        padding-left: 40px;
        A {
          color: $black;
          &:hover {
            color: $orange;
          }
        }
        DL {
          DT {
            H3 {
              color: $purple;
              padding-top: 40px;
            }
            DL {
              DT {
                H3 {
                  color: $deep-orange;
                  padding-top: 10px;
                }
              }
            }
          }
        }
      }
    }
    // end of index
  }
}
