/* default */
$light-grey: #ececec;
$django-green: #36a57b;
$green: #0f4b34;
$black: #000;

ul {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
// end of default

html {
  font-family: "Piedra", cursive;
  font-family: "Righteous", cursive;
  &:focus-within {
    scroll-behavior: smooth;
  }
  body {
    text-rendering: optimizeSpeed;
    font-family: "Piedra", cursive;
    font-family: "Righteous", cursive;
    background-color: $light-grey;
    @media screen and (max-width: 414px) {
      body {
        font-size: 0.7rem;
      }
    }
    a {
      color: $black;
      &:hover {
        color: $green;
      }
    }
    span {
      color: $black;
    }
    li {
      list-style: none;
    }
  }
}
