## python cache
*.pyc
__pycache__

## other project
# *~

## visual studio code
/.vscode
.idea

## virtual environment
env-pythonanywhere
eb-virt

## test database
db.sqlite3

## production
/assets/

.DS_Store

## Elastic Beanstalk Files
# .elasticbeanstalk/*
# !.elasticbeanstalk/*.cfg.yml
# !.elasticbeanstalk/*.global.yml
