option_settings:
    aws:elbv2:listener:80:
        DefaultProcess: http
        ListenerEnabled: 'true'
        Protocol: HTTP
    aws:elasticbeanstalk:environment:process:ssh:
        Port: '22'
        Protocol: HTTP
    aws:elasticbeanstalk:environment:process:http:
        Port: '80'
        Protocol: HTTP
    aws:elasticbeanstalk:environment:proxy:staticfiles:
       /html: static
       /images: media