container_commands:
  01_makemigrations:
    command: "python manage.py makemigrations"
  02_migrate:
    command: "python manage.py migrate"
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ecsite.wsgi:application
  aws:elasticbeanstalk:environment:process:http:
    Port: '80'
    Protocol: HTTP