/* default */
ul {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
video {
  max-width: 100%;
  display: block;
}

video {
  border-radius: 10px;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.btn.btn-block.btn-social {
  color: #fff;
}

/* Remove all animations and transitions for people that prefer not to see them */
html {
  font-family: "Righteous", cursive;
}

html:focus-within {
  scroll-behavior: smooth;
}

html body {
  text-rendering: optimizeSpeed;
  font-family: "Righteous", cursive;
  background-color: #ececec;
  /* footer */
}

@media screen and (max-width: 414px) {
  html body {
    font-size: 0.7rem;
  }
}

html body a {
  color: #000;
}

html body a:hover {
  color: #0f4b34;
}

html body span {
  color: #000;
}

html body li {
  list-style: none;
}

html body header {
  border-bottom: solid 2px #000;
  background-color: #ececec;
  position: fixed;
  top: 0px;
  z-index: 10000;
}

html body header .header-wrapper {
  max-width: 1440px;
  min-width: 375px;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  html body header .header-wrapper {
    width: 100%;
  }
}

html body header .header-wrapper .header-title {
  height: 100%;
  line-height: 70px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.7), 1px -1px 0 rgba(255, 255, 255, 0.7), -1px 1px 0 rgba(255, 255, 255, 0.7), 1px 1px 0 rgba(255, 255, 255, 0.7), -1px 2px 1px #a0a0a0, -2px 4px 2px #a0a0a0, -3px 6px 3px rgba(160, 160, 160, 0.6), -4px 8px 4px rgba(160, 160, 160, 0.5), -5px 10px 5px rgba(160, 160, 160, 0.4), -6px 12px 6px rgba(160, 160, 160, 0.3), -7px 13px 7px rgba(160, 160, 160, 0.2), -8px 15px 8px rgba(160, 160, 160, 0.2), -9px 17px 9px rgba(160, 160, 160, 0.2), -10px 19px 10px rgba(160, 160, 160, 0.2), -11px 20px 11px rgba(160, 160, 160, 0.1), -12px 22px 12px rgba(160, 160, 160, 0.1), -13px 24px 13px rgba(160, 160, 160, 0.1), -14px 26px 14px rgba(160, 160, 160, 0.1), -15px 28px 15px rgba(160, 160, 160, 0.1), -16px 30px 16px rgba(160, 160, 160, 0.1), -17px 32px 17px rgba(160, 160, 160, 0.1), -18px 34px 18px rgba(160, 160, 160, 0.1), -19px 36px 19px rgba(160, 160, 160, 0.1), -20px 38px 20px rgba(160, 160, 160, 0.1), -21px 39px 21px rgba(160, 160, 160, 0.1);
}

html body header .header-wrapper .header-menu a {
  padding: 10px;
  margin-left: 10px;
}

html body header .header-wrapper .header-menu .logout {
  cursor: pointer;
}

html body header .header-wrapper .header-menu .is_img {
  border-radius: 50%;
  border: 1px solid #000;
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 767px) {
  html body header .header-wrapper #menuToggle {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  html body header .header-wrapper #menuToggle input {
    display: block;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 20000;
    /* and place it over the hamburger */
  }
  html body header .header-wrapper #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
  }
  html body header .header-wrapper #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  html body header .header-wrapper #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
  }
  html body header .header-wrapper #menuToggle input:checked ~ #menu {
    display: block;
  }
  html body header .header-wrapper #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #000;
    border-radius: 3px;
    z-index: 20000;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  html body header .header-wrapper #menuToggle span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  html body header .header-wrapper #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  html body header .header-wrapper #menuToggle #menu {
    display: none;
    position: absolute;
    left: 250px;
    width: 300px;
    padding: 50px;
    border-radius: 10px;
    background: #36a57b;
    opacity: 0.85;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  html body header .header-wrapper #menuToggle #menu li {
    padding: 10px 0 10px 30px;
    font-size: 20px;
    color: #ececec;
  }
  html body header .header-wrapper #menuToggle #menu li a {
    color: #ececec;
  }
}

html body header .header-wrapper .header-right select {
  border-radius: 2px;
}

html body header .header-wrapper .header-right .search .search-wrapper .search-input {
  border-radius: 2px;
}

html body header .header-wrapper .header-right .search .search-wrapper .search-button {
  text-align: center;
  display: inline-block;
  border-radius: transparent;
  border-radius: 2px;
}

html body header .header-wrapper .header-right .search .search-wrapper .search-button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

html body .container {
  max-width: 1440px;
  min-width: 375px;
  width: 80%;
  margin-top: 150px;
  overflow: hidden;
  /* detail.html */
  /* cart.html */
  /* order_history.html */
  /* signup.html & login.html */
}

@media screen and (max-width: 600px) {
  html body .container {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  html body .container {
    margin-top: 200px;
  }
}

html body .container .welcome-button {
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  background-color: #36a57b;
  border: transparent;
  color: #ececec;
  font-weight: bold;
  padding: 15px;
}

html body .container .welcome-button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

html body .container .product {
  width: calc(100% / 4);
  float: left;
  padding: 10px;
  margin-bottom: 15px;
  z-index: 9999;
}

@media screen and (max-width: 768px) {
  html body .container .product {
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 414px) {
  html body .container .product {
    width: calc(100% / 2);
  }
}

html body .container .product a {
  display: block;
}

html body .container .product-info a:hover {
  text-decoration: underline;
}

html body .container .product-info .category {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 12px;
  color: #ececec;
  background-color: #000;
}

html body .container .product-img {
  width: 100%;
  max-width: 500px;
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

html body .container .product-img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

html body .container .product-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px;
  margin-top: 170px;
}

html body .container .product-detail-info .point-fav-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .container .product-detail-info .fav_button {
  text-align: center;
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid #0f4b34;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #0f4b34;
}

html body .container .product-detail-info .fav_button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

html body .container .product-detail-info .is_faved {
  background-color: #0f4b34;
  border-color: #0f4b34;
  color: #ececec;
}

html body .container .product-detail-info .purchase-button {
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  background-color: #36a57b;
  border: transparent;
  color: #ececec;
  font-weight: bold;
  padding: 15px;
}

html body .container .product-detail-info .purchase-button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

html body .container .product-detail-info .like-button {
  cursor: pointer;
}

html body .container .cart .purchase-form {
  margin: 10px auto;
  background-color: #fff;
  border-radius: 10px;
}

html body .container .cart .purchase-form .purchase-button {
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  background-color: #36a57b;
  border: transparent;
  color: #ececec;
  font-weight: bold;
  padding: 15px;
}

html body .container .cart .purchase-form .purchase-button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

html body .container .order-history .order-item-info .info-value {
  float: right;
}

html body .container .order-history .order-item-info .info-timestamp {
  float: right;
  font-size: 12px;
  font-style: italic;
  margin-top: 8px;
}

html body .container .order-history .order-item-amount-form {
  float: right;
  margin: 10px;
}

html body .container .order-history .order-item-amount-form input {
  font-size: 20px;
}

html body .container .message-success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  color: #fff;
  margin: 20px auto 0 auto;
  padding: 10px 10px 10px 30px;
  border-radius: 50px 0 50px 0;
  background-color: #36a57b;
}

@media screen and (max-width: 600px) {
  html body .container .message-success {
    width: 80%;
    margin-top: 0px;
  }
}

html body .container .message-warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  color: #fff;
  margin: 20px auto 0 auto;
  padding: 10px 10px 10px 30px;
  border-radius: 50px 0 50px 0;
  background-color: #eb5858;
}

@media screen and (max-width: 600px) {
  html body .container .message-warning {
    width: 80%;
    margin-top: 0px;
  }
}

html body .container .account-wrapper .profile-wrapper {
  margin: 0 auto;
}

html body .container .account-wrapper .profile-wrapper button {
  text-align: center;
  display: inline-block;
  border-radius: 2px;
  background-color: #0f4b34;
  border: transparent;
  color: #ececec;
  font-weight: bold;
  padding: 5px;
}

html body .container .account-wrapper .profile-wrapper button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

html body .container .account-wrapper .profile-wrapper .profile {
  border: 1px solid transparent;
  background-color: #fff;
  border-radius: 10px;
}

html body .container .account-wrapper .profile-wrapper .profile .is_img {
  border-radius: 50%;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

html body .container .account-wrapper .profile-wrapper .profile .submit {
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  background-color: #36a57b;
  border: transparent;
  color: #ececec;
  font-weight: bold;
  padding: 5px;
}

html body .container .account-wrapper .profile-wrapper .profile .submit:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

html body .container .account-wrapper .profile-wrapper .profile .point {
  font-size: 26px;
}

html body .container .account-wrapper #onClickIn {
  display: none;
}

html body .container .account-wrapper button {
  text-align: center;
  display: inline-block;
  border-radius: 2px;
  background-color: #0f4b34;
  border: transparent;
  color: #ececec;
  font-weight: bold;
  padding: 5px;
}

html body .container .account-wrapper button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

html body .container .account-wrapper #onClickInForPwSend {
  display: none;
}

html body .container .account-wrapper .calendar {
  font-size: smaller;
}

html body .container .account-wrapper .calendar table {
  border: 2px solid #fff;
}

html body .container .account-wrapper .calendar thead,
html body .container .account-wrapper .calendar tfoot {
  background: #fff;
}

html body .container .account-wrapper .calendar th,
html body .container .account-wrapper .calendar td {
  padding: 8px;
}

html body .container .account-wrapper .calendar tbody td:first-child {
  color: red;
}

html body .container .account-wrapper .calendar tbody td:last-child {
  color: blue;
}

html body .container .account-wrapper .calendar tbody tfoot {
  font-weight: bolder;
}

html body .container .account-wrapper .calendar #prev,
html body .container .account-wrapper .calendar #next,
html body .container .account-wrapper .calendar #today {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html body .container .icon span {
  color: #fff;
}

html body .container .accordion .btn-link {
  color: #0f4b34;
}

html body .bg-img {
  position: relative;
}

@media screen and (max-width: 990px) {
  html body .bg-img {
    display: none;
  }
}

html body .bg-img .bg-1 {
  position: absolute;
  top: -2000px;
  left: 80px;
  opacity: 0.15;
  z-index: -1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

html body .page-item .page-link {
  color: #0f4b34;
}

html body .page-item .active .page-link {
  background-color: #0f4b34;
}

html body .arrow {
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  color: #0f4b34;
  vertical-align: middle;
  text-decoration: none;
}

html body .arrow::after, html body .arrow::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  vertical-align: middle;
}

html body .arrow_down::before,
html body .arrow_up::before {
  top: auto;
  left: auto;
  bottom: 8px;
  width: 10px;
  height: 10px;
  border-top: 3px solid #ececec;
  border-right: 3px solid #ececec;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

html body #btn-backtotop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-transition: bottom 0.2s ease-out;
  transition: bottom 0.2s ease-out;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  html body #btn-backtotop {
    bottom: 10px;
    right: 5px;
  }
}

html body #btn-backtotop.fadein {
  opacity: 1;
}

html body #btn-backtotop:hover {
  opacity: 0.8;
  bottom: 34px;
}

@media screen and (max-width: 768px) {
  html body #btn-backtotop:hover {
    bottom: 10px;
  }
}

html body #btn-backtotop:hover::after {
  -webkit-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
  html body #btn-backtotop:hover::after {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

html body #btn-backtotop::after {
  content: "";
  display: block;
  color: #fff;
  text-align: center;
  width: 80px;
  height: 80px;
  padding: 4px;
  border-radius: 8px;
  background-color: #0f4b34;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.8) rotate(45deg);
          transform: scale(0.8) rotate(45deg);
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

@media screen and (max-width: 768px) {
  html body #btn-backtotop::after {
    width: 40px;
    height: 40px;
  }
}

html body #btn-backtotop .arrow {
  top: 72px;
  left: 13px;
}

@media screen and (max-width: 768px) {
  html body #btn-backtotop .arrow {
    top: 46px;
    left: -1px;
  }
}

html body #btn-backtotop .arrow::before {
  width: 20px;
  height: 20px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  html body #btn-backtotop .arrow::before {
    width: 10px;
    height: 10px;
  }
}

html body footer {
  background-color: #36a57b;
}

html body footer .footer-wrapper {
  max-width: 1440px;
  min-width: 375px;
  width: 80%;
}

@media screen and (max-width: 600px) {
  html body footer .footer-wrapper {
    width: 100%;
  }
}

html body footer .footer-wrapper .footer-left a {
  color: #ececec;
}

html body footer .footer-wrapper .footer-left a:hover {
  color: #0f4b34;
}

html body footer .footer-wrapper hr {
  background-color: #ececec;
  width: 80%;
}

html body footer .footer-wrapper .footer-right p,
html body footer .footer-wrapper .footer-right i,
html body footer .footer-wrapper .footer-right li,
html body footer .footer-wrapper .footer-right span {
  color: #ececec;
}

html body footer .footer-wrapper .footer-right .copyright {
  font-size: smaller;
}

@font-face {
  font-family: "Decovar Regular24";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Decovar-VF.ttf");
}

.header-title {
  font-size: 4vw;
  font-family: "Decovar Regular24";
  color: white;
  font-variation-settings: "SSTR" 1000;
  -webkit-animation: loadin 4s infinite linear;
          animation: loadin 4s infinite linear;
}

@-webkit-keyframes loadin {
  0% {
    font-variation-settings: "SSTR" 1000;
  }
  50% {
    font-variation-settings: "SSTR" 0;
  }
}

@keyframes loadin {
  0% {
    font-variation-settings: "SSTR" 1000;
  }
  50% {
    font-variation-settings: "SSTR" 0;
  }
}

.software-wrapper .each-wrapper .text_soft {
  border: solid 5px #ececec4d;
  border-radius: 5px;
  background-color: #fff;
  display: none;
  font-size: smaller;
}

.software-wrapper .each-wrapper .text-active {
  display: block;
}

.disabled {
  opacity: 0.3;
}

.today {
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */