@charset "UTF-8";
/* Set core root defaults */
html {
  scroll-behavior: smooth;
  font-family: "Piedra", cursive;
  font-family: "Righteous", cursive;
}

html body {
  text-rendering: optimizeSpeed;
  background-color: #f8f8f8;
  font-family: "Piedra", cursive;
  font-family: "Righteous", cursive;
  /* ========================================================
矢印アイコン
=========================================================*/
  /* ========================================================
ページトップに戻るボタン
=========================================================*/
  /* footer */
  /* ここまでtop page */
  /* product detail */
  /* cart */
  /* order history */
  /* signup & login */
}

@media screen and (max-width: 414px) {
  html body body {
    font-size: 0.7rem;
  }
}

html body a {
  color: #000;
}

html body a:hover {
  color: #0f4b34;
}

html body span {
  color: #000;
}

html body li {
  list-style: none;
}

html body > .container {
  width: 65%;
  padding-top: 60px;
}

html body header {
  border-bottom: solid 2px #000;
  background-color: #f8f8f8;
  height: 150px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10000;
}

@media screen and (max-width: 768px) {
  html body header .header-wrapper {
    padding-top: 30px;
  }
}

html body header h1 {
  height: 100%;
  line-height: 70px;
}

html body header .header-title {
  font-size: 4vw;
  font-family: "Decovar Regular24";
  color: #f8f8f8;
  font-variation-settings: "SSTR" 1000;
  -webkit-animation: loadin 4s infinite linear;
          animation: loadin 4s infinite linear;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.7), 1px -1px 0 rgba(255, 255, 255, 0.7), -1px 1px 0 rgba(255, 255, 255, 0.7), 1px 1px 0 rgba(255, 255, 255, 0.7), -1px 2px 1px #a0a0a0, -2px 4px 2px #a0a0a0, -3px 6px 3px rgba(160, 160, 160, 0.6), -4px 8px 4px rgba(160, 160, 160, 0.5), -5px 10px 5px rgba(160, 160, 160, 0.4), -6px 12px 6px rgba(160, 160, 160, 0.3), -7px 13px 7px rgba(160, 160, 160, 0.2), -8px 15px 8px rgba(160, 160, 160, 0.2), -9px 17px 9px rgba(160, 160, 160, 0.2), -10px 19px 10px rgba(160, 160, 160, 0.2), -11px 20px 11px rgba(160, 160, 160, 0.1), -12px 22px 12px rgba(160, 160, 160, 0.1), -13px 24px 13px rgba(160, 160, 160, 0.1), -14px 26px 14px rgba(160, 160, 160, 0.1), -15px 28px 15px rgba(160, 160, 160, 0.1), -16px 30px 16px rgba(160, 160, 160, 0.1), -17px 32px 17px rgba(160, 160, 160, 0.1), -18px 34px 18px rgba(160, 160, 160, 0.1), -19px 36px 19px rgba(160, 160, 160, 0.1), -20px 38px 20px rgba(160, 160, 160, 0.1), -21px 39px 21px rgba(160, 160, 160, 0.1);
}

@media screen and (max-width: 768px) {
  html body header .header-title .header-title {
    display: inline-block;
    float: left;
    padding: 10px 10px 0 30px;
  }
}

@-webkit-keyframes loadin {
  0% {
    font-variation-settings: "SSTR" 1000;
  }
  50% {
    font-variation-settings: "SSTR" 0;
  }
}

@keyframes loadin {
  0% {
    font-variation-settings: "SSTR" 1000;
  }
  50% {
    font-variation-settings: "SSTR" 0;
  }
}

html body header .header-menu {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

html body header .header-menu a {
  padding: 10px;
  margin-left: 10px;
}

html body header .lang-change .choice {
  border-radius: 5px;
}

html body header .lang-change .set-button {
  border-radius: 10px;
  border: transparent;
}

html body header .lang-change .set-button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

html body header .search .search-wrapper {
  width: 100%;
}

html body header .search .search-wrapper .search-input {
  border-radius: 5px;
}

html body header .search .search-wrapper .search-button {
  border-radius: 10px;
}

html body header .search .search-wrapper .search-button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

html body .arrow {
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  color: #0f4b34;
  vertical-align: middle;
  text-decoration: none;
}

html body .arrow::after, html body .arrow::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  vertical-align: middle;
}

html body .arrow_down::before,
html body .arrow_up::before {
  top: auto;
  left: auto;
  bottom: 8px;
  width: 10px;
  height: 10px;
  border-top: 3px solid #f8f8f8;
  border-right: 3px solid #f8f8f8;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

html body #btn-backtotop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-transition: bottom 0.2s ease-out;
  transition: bottom 0.2s ease-out;
  opacity: 0;
}

@media screen and (max-width: 767px) {
  html body #btn-backtotop {
    bottom: 10px;
    right: 5px;
  }
}

html body #btn-backtotop.fadein {
  opacity: 1;
}

html body #btn-backtotop:hover {
  opacity: 0.8;
  bottom: 34px;
}

@media screen and (max-width: 767px) {
  html body #btn-backtotop:hover {
    bottom: 10px;
  }
}

html body #btn-backtotop:hover::after {
  -webkit-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 767px) {
  html body #btn-backtotop:hover::after {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

html body #btn-backtotop::after {
  content: "";
  display: block;
  color: #fff;
  text-align: center;
  width: 80px;
  height: 80px;
  padding: 4px;
  border-radius: 8px;
  background-color: #0f4b34;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.8) rotate(45deg);
          transform: scale(0.8) rotate(45deg);
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

@media screen and (max-width: 767px) {
  html body #btn-backtotop::after {
    width: 40px;
    height: 40px;
  }
}

html body #btn-backtotop .arrow {
  top: 72px;
  left: 13px;
}

@media screen and (max-width: 767px) {
  html body #btn-backtotop .arrow {
    top: 46px;
    left: -1px;
  }
}

html body #btn-backtotop .arrow::before {
  width: 20px;
  height: 20px;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  html body #btn-backtotop .arrow::before {
    width: 10px;
    height: 10px;
  }
}

html body .container {
  width: 80%;
  margin-top: 150px;
  overflow: auto;
}

html body .product {
  width: calc(100% / 3);
  float: left;
  padding: 10px;
  margin-bottom: 15px;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  html body .product {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 414px) {
  html body .product {
    width: 100%;
  }
}

html body .product a {
  display: block;
}

html body .product-info a:hover {
  text-decoration: underline;
}

html body .product-info .category {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 12px;
  color: #f8f8f8;
  background-color: #000;
}

html body .user-name {
  font-size: 30px;
}

html body .product-img {
  width: 100%;
  max-width: 500px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

html body .product-img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

html body .bg-img {
  position: relative;
}

@media screen and (max-width: 990px) {
  html body .bg-img {
    display: none;
  }
}

html body .bg-img .bg-1 {
  position: absolute;
  top: -1400px;
  left: 80px;
  opacity: 0.15;
  z-index: -1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

html body footer {
  width: 100%;
  border-top: 2px solid transparent;
  height: 150px;
  background-color: #36a57b;
}

html body footer .footer-wrapper {
  width: 65%;
  margin: 70px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 990px) {
  html body footer .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 768px) {
  html body footer .footer-wrapper {
    margin: 40px auto;
  }
}

html body footer .footer-wrapper .footer-left {
  text-align: center;
}

html body footer .footer-wrapper .footer-left p {
  font-size: smaller;
  color: #f8f8f8;
}

html body footer .footer-wrapper .footer-right {
  text-align: center;
  margin: 0 auto;
}

html body footer .footer-wrapper .footer-right a {
  color: #f8f8f8;
}

html body footer .footer-wrapper .footer-right a:hover {
  color: #0f4b34;
}

html body footer .footer-wrapper .footer-right li:first-child {
  float: left;
}

html body .product-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px;
  margin-top: 170px;
}

html body .product-detail-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

html body .product-detail-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

html body .product-img {
  -o-object-fit: contain;
     object-fit: contain;
}

html body .product-detail-info {
  margin-left: 10px;
}

html body .product-detail-info .point-fav-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .product-detail-info .fav_button {
  text-align: center;
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid #0f4b34;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #0f4b34;
}

html body .product-detail-info .fav_button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

html body .product-detail-info .is_faved {
  background-color: #0f4b34;
  border-color: #0f4b34;
  color: #f8f8f8;
}

html body .product-detail-info .purchase-button {
  display: inline-block;
  text-align: center;
  background-color: #0f4b34;
  font-size: 16px;
  color: #f8f8f8;
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 10px;
  border: transparent;
}

html body .product-detail-info .purchase-button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

html body .cart .purchase-form {
  width: 100%;
  margin: 10px auto;
}

html body .cart .purchase-form .purchase-button {
  display: inline-block;
  text-align: center;
  background-color: #0f4b34;
  font-size: 16px;
  color: #f8f8f8;
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 10px;
  border: transparent;
}

html body .cart .purchase-form .purchase-button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

html body .cart .purchase-form-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .cart .purchase-form-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .cart .purchase-form-pay .amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .order-item {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .order-item-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

html body .order-item-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 16px;
}

html body .order-item-info .info-value {
  float: right;
}

html body .order-item-info .info-timestamp {
  float: right;
  font-size: 12px;
  font-style: italic;
  margin-top: 8px;
}

html body .order-item-amount-form {
  float: right;
  margin: 10px;
}

html body .order-item-amount-form input {
  font-size: 20px;
}

html body .message-success {
  background-color: #0f4b34;
  color: #f8f8f8;
  padding: 10px;
  padding-left: 30px;
  border-radius: 4px;
}

html body .message-warning {
  background-color: #ffc107;
  color: #f8f8f8;
  padding: 10px;
  padding-left: 30px;
  border-radius: 4px;
}

html body .welcome-message {
  color: #111;
  text-align: center;
  width: 100%;
  font-weight: 700;
  overflow: hidden;
}

html body .welcome-message .fly-in {
  font-size: 3em;
  margin: 10vh auto;
  height: 30vh;
  text-transform: uppercase;
}

html body .welcome-message .fly-in div {
  position: fixed;
  opacity: 0;
  left: 10%;
  width: 80%;
  -webkit-animation: switch 32s linear infinite;
          animation: switch 32s linear infinite;
}

html body .welcome-message .fly-in div:nth-child(2) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

html body .welcome-message .fly-in div:nth-child(3) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

html body .welcome-message .fly-in div:nth-child(4) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

html body .welcome-message .fly-in div:nth-child(5) {
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}

html body .welcome-message .fly-in div:nth-child(6) {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

html body .welcome-message .fly-in div:nth-child(7) {
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
}

html body .welcome-message .fly-in div:nth-child(8) {
  -webkit-animation-delay: 28s;
          animation-delay: 28s;
}

@-webkit-keyframes switch {
  0% {
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    -webkit-transform: scale(12);
            transform: scale(12);
  }
  3% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  13% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes switch {
  0% {
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    -webkit-transform: scale(12);
            transform: scale(12);
  }
  3% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  13% {
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */