{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-K8S5PL7');</script>
  <!-- End Google Tag Manager -->

  <!-- Google Analytics -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178766347-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-178766347-1');
  </script>
  <!-- End Google Analytics -->

  <!-- Google Search Console Tag-->
  <meta name="google-site-verification" content="XPxxrffbnencjTVJuBumoIjZqhT3W3bPToxkQIpRtJQ">

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Piedra&family=Righteous&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Font Awesome -->
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

  <!-- Device related -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon-precomposed" type="image/svg" href="{% static 'img/games/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/games/style.min.css' %}">
  <link rel="icon" type="image/svg" href="{% static 'img/games/favicon.ico' %}">

  <title>Djamazon Games</title>
  <meta name="description" content="If you win the games, you can get points and use for shopping.">
  <meta name="keywords" content="Game ゲーム">
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8S5PL7" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="w-100 back">
    {% if request.path == '/games' %}
    <video src="{% static 'movie/games/bg-movie.mp4' %}" autoplay muted></video>
    {% else %}
    <video src="{% static 'movie/games/bg-movie-shorter.mp4' %}" autoplay muted loop></video>
    {% endif %}
  </div>
  <div class="w-100 front">
    <div class="w-100 games-container">
      <!-- header part -->
      <div class="header-wrapper d-flex justify-content-around pt-3">
        <h1 class="title">Dj<span>a</span>m<span>a</span>z<span class="title-span">o</span>n G<span>a</span>mes</h1>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter">
          How to play ?
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">How to play ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>　Lots of games will make you excited. Some games' levels are rumdam, and other games' levels you can set on purpose.</p>
                <p>　Also, if you will these games, you will be able to get points for shopping.</p>
                <div>
                  <img src="{% static 'img/games/modal.png' %}" alt="modal">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="d-flex align-items-center px-2">
            <a href="{% url 'app:top' %}" target="_brank" rel="noopener noreferrer">Djamazon</a>
          </div>
          <div class="d-flex align-items-center px-2">
            <a href="{% url 'app:account' %}" target="_brank" rel="noopener noreferrer">Account</a>
          </div>
        </div>
      </div>
      <!-- end of header part -->
      <div>
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

  <!-- bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <!-- device related -->
  <script src="{% static 'js/pointUp.min.js' %}"></script>
  {% if request.path == "/" %}
  <script src="{% static 'js/games/showUp.min.js' %}"></script>
  {% endif %}
  {% if request.path == "/bingo/" %}
  <script src="{% static 'js/games/bingo.min.js' %}"></script>
  {% endif %}
  {% if request.path == "/counter/" %}
  <script src="{% static 'js/games/counter.min.js' %}"></script>
  {% endif %}
  {% if request.path == "/dungeon/" %}
  <script src="{% static 'js/games/dungeon.min.js' %}"></script>
  {% endif %}
  {% if request.path == "/omikuji/" %}
  <script src="{% static 'js/games/omikuji.min.js' %}"></script>
  {% endif %}
  {% if request.path == "/pingpong/" %}
  <script src="{% static 'js/games/pingpong.min.js' %}"></script>
  {% endif %}
  {% if request.path == "/quiz/" %}
  <script src="{% static 'js/games/quiz.min.js' %}"></script>
  {% endif %}
  {% if request.path == "/slot/" %}
  <script src="{% static 'js/games/slot.min.js' %}"></script>
  {% endif %}
  {% if request.path == "/touch/" %}
  <script src="{% static 'js/games/touch.min.js' %}"></script>
  {% endif %}
  {% if request.path == "/typing/" %}
  <script src="{% static 'js/games/typing.min.js' %}"></script>
  {% endif %}
</body>

</html>