{% extends 'games/base.html' %}
{% load static %}

{% block content %}
<div class="bingo-wrapper text-center py-5">
  <div class="explation-text mx-auto">
    <p>If you can complete at least one line/row by 15 turns, you can get point!</p>
    <p>15回以内にビンゴになったらポイントゲット！</p>
  </div>
  <div class="bingo-area d-flex justify-content-around align-items-center pt-5">
    <div class="d-flex justify-content-center align-items-center">
      <table>
        <thead>
          <tr>
            <th>B</th>
            <th>I</th>
            <th>N</th>
            <th>G</th>
            <th>O</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="open-number">
      <div class="d-flex justify-content-around align-items-center py-3">
        <button type="submit" class="p-2" id="open-number">Open Number</button>
        <div id="bingo-number">
          <b>?</b>
        </div>
      </div>
      <div>
        <span id="remained-number">15</span> turn remained
      </div>
    </div>
  </div>
  <h4 class=py-5>Point: <span id="pointUp" data-from="0" data-to="{{ user.point }}"> 0</span></h4>
  <!-- bingo.js -->
  <form action="{% url 'games:control_bingo_point' %}" method="post" class="control-user-point">{% csrf_token %}
    <input type="number" name="bingo_point" id="bingo_point">
    <button type="submit" id="bingo_point_btn"></button>
  </form>
  <!-- bingo.js -->
  <div>
    <div class="d-flex justify-content-center align-items-center pt-1">
      <p class="px-5"><a href="{% url 'games:bingo' %}"><i class="fas fa-undo-alt pr-2"></i>Retry</a></p>
      <p class="px-5"><a href="{% url 'games:index' %}"><i class="fas fa-cube pr-2"></i>Home</a></p>
    </div>
  </div>
</div>

<!-- bootstrap -->
<script src="//code.jquery.co6/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!-- device related -->
<script src="{% static 'js/pointUp.min.js' %}"></script>
<script src="{% static 'js/games/bingo.min.js' %}"></script>
{% endblock %}
