{% extends 'games/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="bingo-wrapper text-center">
  <div class="bingo-area d-flex justify-content-center align-items-center p-5 m-5">
    <div class="d-flex justify-content-center align-items-center">
      <table>
        <thead>
          <tr><th>B</th><th>I</th><th>N</th><th>G</th><th>O</th></tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <div>Point: {{ user.point | intcomma }}</div>
</div>
{% endblock %}
