{% extends 'games/base.html' %}
{% load static %}

{% block content %}
<div class="each-game-container row">
  <a href="{% url 'games:counter' %}">
    <div class="game-counter m-5 p-3 col-2">
      <div class="text-center">
        <p><small>🌶multi-level</small></p>
        <img src="{% static 'img/games/img-counter.png' %}" alt="img-counter">
      </div>
    </div>
  </a>
  <a href="{% url 'games:omikuji' %}">
    <div class="game-omikuji m-5 p-3 col-2">
      <div class="text-center">
        <p><small>🌶multi-level</small></p>
        <img src="{% static 'img/games/img-omikuji.png' %}" alt="img-omikuji">
      </div>
    </div>
  </a>
  <a href="{% url 'games:bingo' %}">
    <div class="game-bingo m-5 p-3 col-2">
      <div class="text-center">
        <!-- <p><small>🌶multi-level</small></p> -->
        <img src="{% static 'img/games/img-bingo.png' %}" alt="img-bingo">
      </div>
    </div>
  </a>
  <a href="{% url 'games:typing' %}">
    <div class="game-typing m-5 p-3 col-2">
      <div class="text-center">
        <p><small>🌶multi-level</small></p>
        <img src="{% static 'img/games/img-typing.png' %}" alt="img-typing">
      </div>
    </div>
  </a>
  <a href="{% url 'games:quiz' %}">
    <div class="game-quiz m-5 p-3 col-2">
      <div class="text-center">
        <!-- <p><small>🌶multi-level</small></p> -->
        <img src="{% static 'img/games/img-quiz.png' %}" alt="img-typing">
      </div>
    </div>
  </a>
  <a href="{% url 'games:slot' %}">
    <div class="game-slot m-5 p-3 col-2">
      <div class="text-center">
        <p><small>🌶multi-level</small></p>
        <img src="{% static 'img/games/img-slot.png' %}" alt="img-slot">
      </div>
    </div>
  </a>
  <a href="{% url 'games:touch' %}">
    <div class="game-touch m-5 p-3 col-2">
      <div class="text-center">
        <p><small>🌶multi-level</small></p>
        <img src="{% static 'img/games/img-touch.png' %}" alt="img-touch">
      </div>
    </div>
  </a>
  <a href="{% url 'games:pingpong' %}">
    <div class="game-pingpong m-5 p-3 col-2">
      <div class="text-center">
        <p><small>🌶multi-level</small></p>
        <img src="{% static 'img/games/img-pingpong.png' %}" alt="img-pingpong">
      </div>
    </div>
  </a>
  <a href="#">
    <div class="game-dungeon m-5 p-3 col-2">
      <div class="text-center">
        <p><small>COMMING SOON</small></p>
        <!-- <p><small>🌶multi-level</small></p> -->
        <!-- <img src="{% static 'img/games/img-dungeon.png' %}" alt="img-dungeon"> -->
      </div>
    </div>
  </a>
</div>

<!-- bootstrap -->
<script src="//code.jquery.co6/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!-- device related -->
<script src="{% static 'js/pointUp.min.js' %}"></script>
{% endblock %}
