{% extends 'games/base.html' %}
{% load static %}

{% block content %}
<div class="w-100 back">
  <video src="{% static 'movie/games/bg-movie.mp4' %}" autoplay muted></video>
</div>

<div class="w-100 front">
  <div class="w-100 games-container">

    <!-- header part -->
    <div class="header-wrapper d-flex justify-content-around">
      <h1 class="">Djamazon Games</h1>
      <div class="d-flex justify-content-center">
        <div class="d-flex align-items-center px-2">
          <a href="{% url 'app:index' %}" target="_brank" rel="noopener noreferrer">Djamazon</a>
        </div>
        <div class="d-flex align-items-center px-2">
          <a href="{% url 'app:account' %}" target="_brank" rel="noopener noreferrer">Account</a>
        </div>
      </div>
    </div>
    <!-- end of header part -->

    <div class="each-game-container d-flex row">
      <div class="game-counter p-3 col-2">
        <div class="text-center">
          <h5>COUNTER</h5>
          <a href="{% url 'games:counter' %}"><img src="{% static 'img/games/img-counter.png' %}" alt="img-counter"></a>
        </div>
      </div>
      <div class="game-2">
      </div>
      <div class="game-3">
      </div>
      <div class="game-4">
      </div>
    </div>
  </div>
</div>
{% endblock %}