{% extends 'games/base.html' %}
{% load static %}

{% block content %}
<div class="omikuji-wrapper text-center py-5">
  <div class="explation-text mx-auto">
    <p>Click this red omikuji! Your point will be up/down wiht the results.</p>
    <p>赤いおみくじをクリックしてね！結果次第でポイントは増減するよ！</p>
  </div>
  <div class="omikuji-area d-flex justify-content-center align-items-center pt-3">
    <div id="btn" class="d-flex justify-content-center align-items-center">
      ?
    </div>
  </div>
  <h4 class=py-5>Point: <span id="pointUp" data-from="0" data-to="{{ user.point }}"></span></h4>
  <!-- omikuji.js -->
  <form action="{% url 'games:control_omikuji_point' %}" method="post" class="control-user-point">{% csrf_token %}
    <input type="number" name="omikuji_point" id="omikuji_point">
    <button type="submit" id="omikuji_point_btn"></button>
  </form>
  <!-- omikuji.js -->
  <div>
    <div class="d-flex justify-content-center">
      <img src="{% static 'img/games/level.png' %}" alt="level">
    </div>
    <input type="range" min="1" max="5" value="1" id="omikujiChangeLevel">
    <p>Current level is <span id="omikuji-current-value"><!-- omikuji.js --></span></p>
    <div class="d-flex justify-content-center align-items-center pt-1">
      <p class="px-5"><a href="{% url 'games:index' %}"><i class="fas fa-cube pr-2"></i>Home</a></p>
    </div>
  </div>
</div>

<!-- bootstrap -->
<script src="//code.jquery.co6/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- device related -->
<script src="{% static 'js/pointUp.min.js' %}"></script>
<script src="{% static 'js/games/omikuji.min.js' %}"></script>
{% endblock %}
