{% extends 'games/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="omikuji-wrapper text-center py-5">
  <div class="explation-text mx-auto">
    <p>Click this red circle! Your point will be up/down wiht the results.</p>
    <p>赤い部分をクリックしてね！結果次第でポイントは増減するよ！</p>
  </div>
  <div class="omikuji-area d-flex justify-content-center align-items-center pt-3">
    <div id="btn" class="d-flex justify-content-center align-items-center">
      ?
    </div>
  </div>
  <h4 class=py-5>Point: <span id="pointUp" data-from="0" data-to="{{ user.point }}"></span></h4>
  <div>
    <div class="d-flex justify-content-center">
      <img src="{% static 'img/games/level.png' %}" alt="level">
    </div>
      <input type="range" min="1" max="5" value="1" id="changeLevel">
      <p>Current level is <span id="current-value"><!-- touch.js --></span></p>
      <div class="d-flex justify-content-center align-items-center pt-1">
        <p class="px-5"><a href="{% url 'games:omikuji' %}"><i class="fas fa-undo-alt pr-2"></i>Retry</a></p>
        <p class="px-5"><a href="{% url 'games:index' %}"><i class="fas fa-cube pr-2"></i>Home</a></p>
      </div>
  </div>
</div>
{% endblock %}
