{% extends 'games/base.html' %}
{% load static %}
{% block content %}
<div class="pingpong-wrapper text-center py-5">
  <div class="explation-text mx-auto mb-5">
    <p>Move the paddle right and left to keep a ball bounding more than 5 times.</p>
    <p>パドルを左右に動かして、ボールを5回以上拾ってね！</p>
  </div>
  <canvas width="280" height="280">
    Canvas not supported...
  </canvas>
  <h4 class=py-4>Point: <span id="pointUp" data-from="0" data-to="{{ user.point }}"></span></h4>
  <form action="{% url 'games:control_pingpong_point' %}" method="post" class="control-user-point">{% csrf_token %}
    <input type="number" name="pingpong_point" id="pingpong_point">
    <button type="submit" id="pingpong_point_btn"></button>
  </form>
  <div>
    <div class="d-flex justify-content-center">
      <img src="{% static 'img/games/level.png' %}" alt="level">
    </div>
    <input type="range" min="1" max="5" value="1" id="pingpongChangeLevel">
    <p>Current level is <span id="pingpong-current-value"></span></p>
    <div class="d-flex justify-content-center align-items-center pt-1">
      <p class="px-5"><a href="{% url 'games:index' %}"><i class="fas fa-cube pr-2"></i>Home</a></p>
    </div>
  </div>
</div>
<script src="{% static 'js/pointUp.min.js' %}"></script>
<script src="{% static 'js/games/pingpong.min.js' %}"></script>
{% endblock %}
