{% extends 'games/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="pingpong-wrapper text-center py-5">
  <div class="explation-text mx-auto mb-5">
    <p>Click these panels from smaller numbers within limited time.</p>
    <p>制限時間内に数字の小さい方からクリックしてね！</p>
  </div>
  <canvas width="280" height="280">
    Canvas not supported...
  </canvas>
  <h4 class=py-4>
    Point: <span id="pointUp" data-from="0" data-to="{{ user.point }}"> 0</span>
  </h4>
  <div>
    <div class="d-flex justify-content-center">
      <img src="{% static 'img/games/level.png' %}" alt="level">
    </div>
      <input type="range" min="1" max="5" value="1" id="changeLevel">
      <p>Current level is 
        <span id="current-value">
          <!-- touch.js -->
        </span>
      </p>
      <div class="d-flex justify-content-center align-items-center pt-1">
        <p class="px-5"><a href="{% url 'games:quiz' %}"><i class="fas fa-undo-alt pr-2"></i>Retry</a></p>
        <p class="px-5"><a href="{% url 'games:index' %}"><i class="fas fa-cube pr-2"></i>Home</a></p>
      </div>
  </div>
</div>
{% endblock %}
