{% extends 'games/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="touch-wrapper text-center py-5">
  <div class="explation-text mx-auto">
    <p>Click these panels from smaller numbers within limited time.</p>
    <p>制限時間内に数字の小さい方からクリックしてね！</p>
  </div>
  <div id="touch-area" class="touch-area">
    <div id="touch-timer" class="text-right">
      0.0
    </div>
    <ul id="touch-board" class="text-center">
      <!-- touch.js -->
    </ul>
    <div id="touch-btn">
      START
    </div>
  </div>
  <h4 class=py-5>Point: <span id="pointUp" data-from="0" data-to="{{ user.point }}"> 0</span></h4>
  <!-- touch.js -->
  <form action="{% url 'games:control_touch_point' %}" method="post" class="control-user-point">{% csrf_token %}
    <input type="number" name="touch_point" id="touch_point">
    <button type="submit" id="touch_point_btn"></button>
  </form>
  <!-- touch.js -->
  <div>
    <div class="d-flex justify-content-center pr-5 mr-5">
      <img src="{% static 'img/games/level.png' %}" alt="level">
    </div>
    <div class="d-flex justify-content-center">
      <div>
        <input type="range" min="1" max="5" value="1" id="changeLevel">
        <p>Current level is <span id="current-value"><!-- touch.js --></span></p>
      </div>
      <div>
        <p class="pl-4 ml-3"><a href="{% url 'games:index' %}"><i class="fas fa-cube pr-2"></i>Home</a></p>
      </div>
    </div>
  </div>
</div>

<!-- bootstrap -->
<script src="//code.jquery.co6/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!-- device related -->
<script src="{% static 'js/pointUp.min.js' %}"></script>
<script src="{% static 'js/games/touch.min.js' %}"></script>
{% endblock %}
