/* default */
ul {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
video {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
html {
  font-family: "Piedra", cursive;
  font-family: "Righteous", cursive;
}

html:focus-within {
  scroll-behavior: smooth;
}

html body {
  text-rendering: optimizeSpeed;
  font-family: "Piedra", cursive;
  font-family: "Righteous", cursive;
}

@media screen and (max-width: 600px) {
  html body {
    font-size: 0.7rem;
  }
}

html body a {
  color: #fff;
}

html body a:hover {
  color: #fff;
}

html body h1,
html body h4,
html body p,
html body span,
html body #pointUp {
  color: #fff;
}

html body p small {
  color: #000;
}

html body li {
  list-style: none;
}

html body .front {
  position: relative;
}

html body .back {
  position: absolute;
  z-index: -1;
}

html body .front .title span {
  color: #e05849;
}

html body .front .title .title-span {
  color: #3a556a;
}

html body .front .each-game-container {
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

html body .front .show-each-game {
  opacity: 1;
}

html body .front .each-game-container {
  position: relative;
}

html body .front .each-game-container .game-counter {
  position: absolute;
  background-color: #fff;
  border: solid 2px transparent;
  border-radius: 30% 40% 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 60px;
  left: 150px;
}

html body .front .each-game-container .game-counter:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html body .front .each-game-container .game-counter img {
  border-radius: 10px;
}

html body .front .each-game-container {
  position: relative;
}

html body .front .each-game-container .game-omikuji {
  position: absolute;
  background-color: #fff;
  border: solid 2px transparent;
  border-radius: 30% 40% 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 200px;
  left: 360px;
}

html body .front .each-game-container .game-omikuji:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html body .front .each-game-container .game-omikuji img {
  border-radius: 10px;
}

html body .front .each-game-container {
  position: relative;
}

html body .front .each-game-container .game-bingo {
  position: absolute;
  background-color: #fff;
  border: solid 2px transparent;
  border-radius: 30% 40% 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 300px;
  left: 30px;
}

html body .front .each-game-container .game-bingo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html body .front .each-game-container .game-bingo img {
  border-radius: 10px;
}

html body .front .each-game-container {
  position: relative;
}

html body .front .each-game-container .game-typing {
  position: absolute;
  background-color: #fff;
  border: solid 2px transparent;
  border-radius: 40% 30% 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 300px;
  right: 30px;
}

html body .front .each-game-container .game-typing:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html body .front .each-game-container .game-typing img {
  border-radius: 10px;
}

html body .front .each-game-container {
  position: relative;
}

html body .front .each-game-container .game-quiz {
  position: absolute;
  background-color: #fff;
  border: solid 2px transparent;
  border-radius: 40% 30% 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 100px;
  right: 55px;
}

html body .front .each-game-container .game-quiz:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html body .front .each-game-container .game-quiz img {
  border-radius: 10px;
}

html body .front .each-game-container {
  position: relative;
}

html body .front .each-game-container .game-slot {
  position: absolute;
  background-color: #fff;
  border: solid 2px transparent;
  border-radius: 40% 30% 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 40px;
  right: 200px;
}

html body .front .each-game-container .game-slot:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html body .front .each-game-container .game-slot img {
  border-radius: 10px;
}

html body .front .each-game-container {
  position: relative;
}

html body .front .each-game-container .game-touch {
  position: absolute;
  background-color: #fff;
  border: solid 2px transparent;
  border-radius: 30% 40% 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 300px;
  left: 200px;
}

html body .front .each-game-container .game-touch:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html body .front .each-game-container .game-touch img {
  border-radius: 10px;
}

html body .front .each-game-container {
  position: relative;
}

html body .front .each-game-container .game-pingpong {
  position: absolute;
  background-color: #fff;
  border: solid 2px transparent;
  border-radius: 40% 30% 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 340px;
  right: 230px;
}

html body .front .each-game-container .game-pingpong:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html body .front .each-game-container .game-pingpong img {
  border-radius: 10px;
}

html body .front .each-game-container {
  position: relative;
}

html body .front .each-game-container .game-tic_tac_toe {
  position: absolute;
  background-color: #fff;
  border: solid 2px transparent;
  border-radius: 30% 40% 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 500px;
  left: 400px;
}

html body .front .each-game-container .game-tic_tac_toe:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html body .front .each-game-container .game-tic_tac_toe img {
  border-radius: 10px;
}

html body .explation-text {
  width: 40%;
  background-color: #5593ab;
  border-radius: 100px;
}

html body .omikuji-wrapper .omikuji-area #btn {
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 50%;
  color: #fff;
  font-weight: bolder;
  font-size: 52px;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 0 #d1483e;
          box-shadow: 0 10px 0 #d1483e;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html body .omikuji-wrapper .omikuji-area #btn:hover {
  opacity: 0.9;
}

html body .omikuji-wrapper .omikuji-area #btn:active {
  -webkit-box-shadow: 0 5px 0 #d1483e;
          box-shadow: 0 5px 0 #d1483e;
  margin-top: 5px;
}

html body .bingo-wrapper .bingo-area th,
html body .bingo-wrapper .bingo-area td {
  background: pink;
  width: 40px;
  height: 40px;
}

html body .typing-wrapper .typing-area #typing-question {
  font-size: 48px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

html body .quiz-wrapper .quiz-area .container {
  background: #fff;
  border-radius: 4px;
  position: relative;
}

html body .quiz-wrapper .quiz-area .container #quiz-result {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60%;
  background: #fff;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

html body .quiz-wrapper .quiz-area .container #quiz-result.hidden {
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
}

html body .quiz-wrapper .quiz-area .container #quiz-result p {
  font-size: larger;
}

html body .quiz-wrapper .quiz-area .container #quiz-result div {
  display: inline-block;
  background-color: #07a9f0;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
}

html body .quiz-wrapper .quiz-area .container #quiz-result div:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

html body .quiz-wrapper .quiz-area .container #quiz-result div a {
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
}

html body .quiz-wrapper .quiz-area .container #quiz-question {
  color: #000;
  font-weight: bolder;
}

html body .quiz-wrapper .quiz-area .container #quiz-choices li {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

html body .quiz-wrapper .quiz-area .container #quiz-choices li:hover {
  background: #ececec;
}

html body .quiz-wrapper .quiz-area .container #quiz-choices li.correct {
  background: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  font-weight: bolder;
}

html body .quiz-wrapper .quiz-area .container #quiz-choices li.correct::after {
  content: "... correct!";
}

html body .quiz-wrapper .quiz-area .container #quiz-choices li.wrong {
  background: #f8d8da;
  border-color: #f5c6cb;
  color: #721c24;
  font-weight: bolder;
}

html body .quiz-wrapper .quiz-area .container #quiz-choices li.wrong::after {
  content: "... wrong!";
}

html body .quiz-wrapper .quiz-area .container #quiz-btn {
  display: inline-block;
  background-color: #07a9f0;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 10px;
  border: transparent;
}

html body .quiz-wrapper .quiz-area .container #quiz-btn:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

html body .quiz-wrapper .quiz-area .container #quiz-btn.disabled {
  background-color: #ececec;
}

html body .quiz-wrapper .quiz-area .container #quiz-result p {
  color: #000;
}

html body .slot-wrapper .slot-area {
  background: #ecf0f1;
  border-radius: 12px;
  border: 4px solid #fff;
}

html body .slot-wrapper .slot-area .panel img {
  width: 90px;
  height: 110px;
}

html body .slot-wrapper .slot-area .panel .stop {
  margin-top: 10px;
  cursor: pointer;
  width: 90px;
  height: 32px;
  background: #ef454a;
  -webkit-box-shadow: 0 4px 0 #d1483e;
          box-shadow: 0 4px 0 #d1483e;
  border-radius: 16px;
  line-height: 32px;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html body .slot-wrapper #spin {
  cursor: pointer;
  width: 260px;
  height: 36px;
  margin: 0 auto;
  background: #3498db;
  -webkit-box-shadow: 0 4px 0 #2880b9;
          box-shadow: 0 4px 0 #2880b9;
  border-radius: 18px;
  line-height: 36px;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: larger;
}

html body .touch-wrapper {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

html body .touch-wrapper .touch-area {
  /* 50px * 2 + 10px * 2 */
  margin: 16px auto;
}

html body .touch-wrapper .touch-area #touch-timer {
  margin-bottom: 8px;
  font-size: 20px;
}

html body .touch-wrapper .touch-area #touch-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 8px;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
}

html body .touch-wrapper .touch-area #touch-board li {
  background: #00aaff;
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  line-height: 40px;
  -webkit-box-shadow: 0 4px 0 #0088cc;
          box-shadow: 0 4px 0 #0088cc;
}

html body .touch-wrapper .touch-area #touch-board .pressed {
  background-color: #ececec;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: 9px;
  margin-bottom: 1px;
}

html body .touch-wrapper .touch-area #touch-btn {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #f44336;
  padding: 8px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 0 #d1483e;
          box-shadow: 0 4px 0 #d1483e;
}

html body .touch-wrapper .touch-area #touch-btn:active {
  margin-top: 12px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

html body .pingpong-wrapper canvas {
  background-color: #000;
}

html body .tic_tac_toe-wrapper {
  background-color: #000;
}

html body .tic_tac_toe-wrapper .tic_tac_toe-area {
  background-color: #fff;
}

.box {
  width: 100px;
  height: 100px;
  background: #fff;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  margin: 0 8px 8px 0;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.win {
  background: #e7a713;
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.lose {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.unmatched {
  opacity: 0.5;
}

.inactive {
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */