{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- Google Tag Manager -->
  <!-- <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-K8S5PL7');</script> -->
  <!-- End Google Tag Manager -->

  <!-- Google Analytics -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178766347-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-178766347-1');
  </script> -->
  <!-- End Google Analytics -->

  <!-- Google Search Console Tag-->
  <!-- <meta name="google-site-verification" content="kWVl84MdZ2_36F2tAvQrEk-Sv796Nr5cKB9e5lDW27U"> -->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Font Awesome -->
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

  <!-- Device related -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon-precomposed" href="{% static 'css/app/favicon.svg' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'css/study/style.min.css' %}">
  <link rel="icon" type="image/svg" href="{% static 'img/study/favicon.svg' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Piedra&family=Righteous&display=swap" rel="stylesheet">

  <title>Djamazon Study</title>
  <meta name="description"
    content="Djangoを学習したいけど、何から始めたらいいかわからない。。を解決します！ Djamzon Studyが提供する教材を順にこなすだけで、効率的に力が身に付きます。">
  <meta name="keywords" content="Django プログラミング 独学 教材 参考">
</head>


<body id="top">
  <!-- Google Tag Manager (noscript) -->
  <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8S5PL7" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript> -->
  <!-- End Google Tag Manager (noscript) -->

  <header class="w-100">
    <div class="header-wrapper">
      <!-- logo title -->
      <div class="stage pl-sm-3 pt-sm-3 pl-2 pt-2">
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
      </div>
      <!-- end of logo title -->
      <div class="arrow text-right p-sm-5 p-3 row">
        <a href="#top" class="col-12"><i class="fas fa-sort-up"></i></a>
        <a href="#bottom" class="col-12"><i class="fas fa-sort-down"></i></a>
      </div>
    </div>
  </header>

  <div class="w-100 container mx-auto">
    {% block content %}{% endblock %}
  </div>

  <footer class="w-100 row justify-content-center align-items-center text-center p-sm-5 p-3">
    <div class="col-sm-10 col-12 row justify-content-center align-items-center text-center">

      <div class="col-sm-8 col-12" id="bottom">
        <ul>
          <li class="m-auto">Copyright © 2020 Djamazon Corporation All Rights. All rights reserved.</li>
        </ul>
      </div>

      <div class="col-sm-4 col-12">
        <ul class="align-items-center row">
          <li class="m-auto col-sm-6 col-12"><a href="{% url 'users:owner_profile' %}" target="_blank"
              rel="noopener noreferrer">Who is Owner?</a></li>
          <li class="m-auto col-sm-6 col-12"><a href="{% url 'app:index' %}" target="_blank"
              rel="noopener noreferrer">Djamzon</a></li>
        </ul>
      </div>

    </div>
  </footer>

  <script src="//code.jquery.co6/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>