{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="m-auto account">

  <h2 class="d-flex justify-content-center p-5">Account</h2>
  <ul>
    <li>Email: {{ user.email }}</li>
    <li>Password: ********</li>
    <li>Point: {{ user.point | intcomma }}</li>
    <li>Started from: {{ user.date_joined }}</li>
  </ul>
  <ul>
    <button id="onClick">Reset Password</button>
  </ul>

  <div id="onClickIn">
    <p>I will get an mail for resetting new password.</p>
    <form method="post" action="{% url 'app:password_reset' %}">
      {% csrf_token %}{{ form.as_p }}
      <button type="submit" id="onClickForPwSend">Send</button>
    </form>
  </div>

  <p id="onClickInForPwSend">Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>


</div>
{% endblock %}