{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="m-auto account-wrapper">
  <h2 class="d-flex justify-content-center p-5">Account</h2>
  <div class="row profile-wrapper">
    <div class="col-sm-6 col-12 row profile p-4">
      <div class="col-4">
        <div>
          {% if user.is_img %}
            <img src="{{ user.is_img.url }}" alt="is_img" class="is_img">
          {% else %}
            <img src="{% static 'img/app/user_default.png' %}" alt="user_default">
          {% endif %}
        </div>
        <form method="POST" enctype="multipart/form-data" action="{% url 'app:is_img' %}">{% csrf_token %}
          {{ form.is_img }}
          <input type="file" name="is_img" class="pt-2 pb-1">
          <input type="submit" name="is_img" value="upload" class="submit mb-3">
        </form>
      </div>
      <ul class="col-8">
        <li>Email: {{ user.email }}</li>
        <li>Password: ********</li>
        <li>Last Login: {{ user.last_login }}</li>
        <li>Started from: {{ user.date_joined }}</li>
        <li class="pt-5 mt-5 point text-center">Point:<span id="pointUp" data-from="0" data-to="{{ user.point }}"></span></li>
      </ul>
      <div class="pl-3">
        <button id="onClick">Reset Password</button>
      </div>
    </div>
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3 col-12 calendar">
      <table class="text-center">
        <thead>
          <tr>
            <th id="prev"><i class="fas fa-chevron-left"></i></th>
            <th id="calendar_title" colspan="5"></th>
            <th id="next"><i class="fas fa-chevron-right"></i></th>
          </tr>
          <tr>
            <th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th>
          </tr>
        </thead>
        <tbody>
        <!-- calender.js event here-->
        <!-- calender.js event here-->
        </tbody>
        <tfoot>
          <tr>
            <td id="today" colspan="7">Today</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div id="onClickIn" class="pl-4 pt-3">
    <p>I will get an mail for password reset.</p>
    <form method="post" action="{% url 'app:password_reset' %}">
      {% csrf_token %}{{ form.as_p }}
      <button type="submit" id="onClickForPwSend">Send</button>
    </form>
  </div>
  <p id="onClickInForPwSend">Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>

  <h2 class="d-flex justify-content-center p-5 text-center">Djamazon Software</h2>
  <div class="row software-wrapper">
    <div class="col-sm-2 col-6 each-wrapper">
      <a href="{% url 'study:index' %}" target="_blank" rel="noopener noreferrer">
        <img src="{% static 'img/app/icon_study.png' %}" alt="icon_study">
        <p class="text-center">Study</p>
      </a>
      <div class="pt-3 px-1 text_soft">
        <p>You can access the source code of this whole application and learn how a beginner develops this one by one.</p>
      </div>
    </div>
    <div class="col-sm-2 col-6 each-wrapper">
      <a href="{% url 'games:index' %}" target="_blank" rel="noopener noreferrer">
        <img src="{% static 'img/app/icon_games.png' %}" alt="icon_games">
        <p class="text-center">games</p>
      </a>
      <div class="pt-3 px-1 text_soft">
        <p>If you win the games, you can get points and use for shopping.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}