{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="m-auto account-wrapper">

  <h2 class="d-flex justify-content-center p-5">Account</h2>
  <ul>
    <li>Email: {{ user.email }}</li>
    <li>Password: ********</li>
    <li>Point: {{ user.point | intcomma }}</li>
    <li>Started from: {{ user.date_joined }}</li>
  </ul>
  <ul>
    <button id="onClick">Reset Password</button>
  </ul>

  <div id="onClickIn">
    <p>I will get an mail for resetting new password.</p>
    <form method="post" action="{% url 'app:password_reset' %}">
      {% csrf_token %}{{ form.as_p }}
      <button type="submit" id="onClickForPwSend">Send</button>
    </form>
  </div>

  <p id="onClickInForPwSend">Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>


  <h2 class="d-flex justify-content-center p-5">Djamazon Software</h2>

  <div class="row software-wrapper">
    <div class="col-sm-2 col-6 each-wrapper">
      <a href="{% url 'study:index' %}" target="_blank" rel="noopener noreferrer">
        <img src="{% static 'img/app/icon_study.png' %}" alt="icon_study">
        <p class="text-center">Study</p>
      </a>
      <div class="pt-3 px-1 text_soft">
        <p>You can access the source code of this whole application and learn how a beginner develops this one by one.</p>
      </div>
    </div>
    <div class="col-sm-2 col-6 each-wrapper">
      <a href="{% url 'games:index' %}" target="_blank" rel="noopener noreferrer">
        <img src="{% static 'img/app/icon_games.png' %}" alt="icon_games">
        <p class="text-center">games</p>
      </a>
      <div class="pt-3 px-1 text_soft">
        <p>If you win the games, you can get points and use for shopping.</p>
      </div>
    </div>
  </div>

</div>
{% endblock %}