{% load i18n %}
{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-K8S5PL7');</script>
  <!-- End Google Tag Manager -->

  <!-- Google Analytics -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178766347-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-178766347-1');
  </script>
  <!-- End Google Analytics -->

  <!-- Google Search Console Tag-->
  <meta name="google-site-verification" content="kWVl84MdZ2_36F2tAvQrEk-Sv796Nr5cKB9e5lDW27U">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Device related -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" href="../../../media/favicon.svg">

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="icon" type="image/svg" href="../../../media/favicon.svg">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Piedra&family=Righteous&display=swap" rel="stylesheet">

  <title>Djamazon</title>
  <meta name="description" content="Djangoを学ぶ駆け出しエンジニアによる、ECサイトのデモサイトです。ちょっぴり面白い世界観を、味わってみてください。">
  <meta name="keywords" content="Django Amazon unique funny">
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8S5PL7" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <header>
    <div class="header-wrapper">

      <h1 class="header-title" contenteditable>Djamazon</h1>

      <div class="header-menu row">
        {% if request.user.is_authenticated %}
        <span class="col-lg-2 col-sm-4 col-6"><a href="{% url 'app:index' %}">{% trans "Home" %}</a></span>
        <span class="col-lg-2 col-sm-4 col-6"><a href="{% url 'app:fav_products' %}">{% trans "Favorite" %}</a></span>
        <span class="col-lg-2 col-sm-4 col-6"><a href="{% url 'app:cart' %}">{% trans "Cart" %}</a></span>
        <span class="col-lg-2 col-sm-4 col-6"><a href="{% url 'app:order_history' %}">{% trans "Order-history"
            %}</a></span>
        <span class="col-lg-2 col-sm-4 col-6"><a href="{% url 'app:logout' %}">{% trans "Logout" %}</a></span>
        <span class="col-lg-2 col-sm-4 col-6">{% trans "Point: " %}{{ user.point | intcomma }}</span>
        {% else %}
        <span class="col-6"><a href="{% url 'app:login' %}">{% trans "Login" %}</a></span>
        <span class="col-6"><a href="{% url 'app:signup' %}">{% trans "Signup" %}</a></span>
        {% endif %}
      </div>

      <div class="btn-group float-right mt-lg-5 mr-lg-5 mt-sm-3 mr-sm-3 mt-1 mr-1 lang-change">
        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
          <input name="next" type="hidden" value="{{ redirect_to }}">
          <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option value="{{ language.code }}" {% if language.code　==　LANGUAGE_CODE %} selected{% endif %}>
              {{ language.name_local }} ({{ language.code }})
            </option>
            {% endfor %}
          </select>
          <button>{% trans "Set" %}</button>
        </form>
      </div>

    </div>
  </header>



  <div class="container">


    {% for message in messages %}
    <p class="message-{{ message.tags }}">{{ message }}</p>
    {% endfor %}
    {% block content %}{% endblock %}
  </div>

  <div class="bg-img">
    <img src="../../media/bg-1.svg" alt="" class="bg-1">
  </div>

  <a href="#top" id="btn-backtotop"><span class="arrow arrow_up"></span></a>

  <footer>
    <div class="footer-wrapper row">

      <div class="footer-left col-lg-7 col-12">
        <p>
          Copyright ©
          2020 Djamazon Corporation All Rights
          . All rights reserved.
        </p>
      </div>

      <div class="col-lg-5 col-12 footer-right">
        <ul>
          <li><a href="{% url 'app:policy' %}">{% trans "Privacy Policy" %}</a></li>
          <li><a href="{% url 'app:terms' %}">{% trans "Terms of Service" %}</a></li>
        </ul>
      </div>

    </div>
  </footer>



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="../../static/header_title.js"></script>
  <script src="../../static/scroll_button.js"></script>
</body>

</html>