{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load humanize %}

<!DOCTYPE html>
<html lang="ja">

 <head>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-K8S5PL7');</script>
  <!-- End Google Tag Manager -->

  <!-- Google Analytics -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178766347-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-178766347-1');
  </script>
  <!-- End Google Analytics -->

  <!-- Google Search Console Tag-->
  <meta name="google-site-verification" content="kWVl84MdZ2_36F2tAvQrEk-Sv796Nr5cKB9e5lDW27U">

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Piedra&family=Righteous&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Font Awesome -->
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <!-- bootstrap social -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- Device related -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon apple-touch-icon-precomposed" href="{% static 'img/app/apple-touch-icon.ico' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">
  <link rel="stylesheet" href="{% static 'css/app/style.min.css' %}">
  <link rel="icon" href="{% static 'img/app/favicon.ico' %}">

  <title>Djamazon</title>
  <meta name="description" content="Why don't you taste a hunny Django application?">
  <meta name="keywords" content="Django Amazon unique funny">
 </head>

 <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8S5PL7" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <header class="w-100">
    <div class="header-wrapper pb-sm-3">
      <div class="row pt-3 justify-content-between">
        <h1 class="header-title col-lg-4 col-4 d-flex justify-content-center" id="title" contenteditable>
          DJAMAZON
        </h1>
        <div class="col-lg-8 col-8 pt-sm-4 row header-right d-flex justify-content-center align-items-center">
          <div class="btn-group lang-change col-sm-2 col-6 text-right">
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
              <input name="text" type="hidden" value="{{ redirect_to }}">
              <select name="language" id="changeLang">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code　==　LANGUAGE_CODE %} selected{% endif %}>
                  {{ language.name_local }}
                </option>
                {% endfor %}
              </select>
              <button id="langBtn" style="display: none;"></button>
            </form>
          </div>
          {% if request.user.is_authenticated %}
          <div class="col-sm-4 col-6 text-right">
            <form action="{% url 'app:top_filtered' %}" method="post">{% csrf_token %}
              <select id="filter-product" name="filter">
                <option name="filter" value="filter">Filter Price</option>
                <option name="filter" value="2000">2,000~</option>
                <option name="filter" value="1999">1,000~1,999</option>
                <option name="filter" value="999">500~999</option>
                <option name="filter" value="499">~499</option>
              </select>
              <button type="submit" id="filterBtn" style="display: none;"></button>
            </form>
          </div>
          <div class="text-left search col-sm-4 col-12 text-right">
            <form action="{% url 'app:result' %}" method="get">
              <div class="search-wrapper w-100">
                <input type="text" placeholder="{% trans 'Search' %}" name="q" class="search-input">
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
              </div>
            </form>
          </div>
          {% endif %}
        </div>
      </div>

        <!-- PC size -->
        <div class="header-menu pt-3 row d-sm-flex d-none justify-content-center align-items-center text-center">
          {% if request.user.is_authenticated %}
          <span class="col-lg-2 col-sm-4 col-6">
            <a href="{% url 'app:top' %}">
              <i class="fas fa-home pr-2"></i>
              {% trans "Home" %}
            </a>
          </span>
          <span class="col-lg-2 col-sm-4 col-6">
            <a href="{% url 'app:fav_products' %}">
              <i class="fas fa-heart pr-2"></i>
              {% trans "Favorite" %}
            </a>
          </span>
          <span class="col-lg-2 col-sm-4 col-6">
            <a href="{% url 'app:cart' %}">
              <i class="fas fa-shopping-cart pr-2"></i>
              {% trans "Cart" %}
            </a>
          </span>
          <span class="col-lg-2 col-sm-4 col-6">
            <a href="{% url 'app:order_history' %}">
              <i class="fas fa-check pr-2"></i>
              {% trans "Order-history" %}
            </a>
          </span>
          <span class="col-lg-2 col-sm-4 col-6 logout" id="logOut">
              <i class="fas fa-sign-out-alt pr-2"></i>
              {% trans "Logout" %}
          </span>
          <span class="col-lg-2 col-sm-4 col-6">
            <a href="{% url 'app:account' %}">
              {% if user.is_img %}
                <img src="{{ user.is_img.url }}" class="is_img" alt="is_img">
              {% else %}
                <img src="{% static 'img/app/user_default.png' %}" class="is_img" alt="user_default">
              {% endif %}
              {% trans "Account" %}
            </a>
          </span>
          {% else %}
          <span class="col-6">
            <a href="{% url 'app:login' %}">
              <i class="fas fa-sign-in-alt pr-2"></i>
              {% trans "Login" %}
            </a>
          </span>
          <span class="col-6">
            <a href="{% url 'app:signup' %}">
              <i class="fas fa-user-plus pr-2"></i>
              {% trans "Signup" %}
            </a>
          </span>
          {% endif %}
        </div>
        <!-- end of PC size -->

        <!-- Mobile size humbergar menu -->
        <nav role="navigation" class="navigation d-sm-none d-block">
          <div id="menuToggle" class="pl-4">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
              {% if request.user.is_authenticated %}
              <li>
                <a href="{% url 'app:top' %}">
                  <i class="fas fa-home pr-2"></i>
                  {% trans "Home" %}
                </a>
              </li>
              <li>
                <a href="{% url 'app:fav_products' %}">
                  <i class="fas fa-heart pr-2"></i>
                  {% trans "Favorite" %}
                </a>
              </li>
              <li>
                <a href="{% url 'app:cart' %}">
                  <i class="fas fa-shopping-cart pr-2"></i>
                  {% trans "Cart" %}
                </a>
              </li>
              <li>
                <a href="{% url 'app:order_history' %}">
                  <i class="fas fa-check pr-2"></i>
                  {% trans "Order-history" %}
                </a>
              </span>
              <li id="logOut" class="logout">
                <i class="fas fa-sign-out-alt pr-2"></i>
                {% trans "Logout" %}
              </li>
              <li>
                <a href="{% url 'app:account' %}">
                  <i class="fas fa-user pr-2"></i>
                  {% trans "Account" %}
                </a>
              </li>
              {% else %}
              <li>
                <a href="{% url 'app:login' %}">
                  <i class="fas fa-sign-in-alt pr-2"></i>
                  {% trans "Login" %}
                </a>
              </li>
              <li>
                <a href="{% url 'app:signup' %}">
                  <i class="fas fa-user-plus pr-2"></i>
                  {% trans "Signup" %}
                </a>
              </li>
              {% endif %}
          </div>
        </nav>
        <!-- end of Mobile size humbergar menu -->

      </div>
    </div>
  </header>

  <div class="container">
    {% for message in messages %}
      <p class="message-{{ message.tags }}">{{ message }}</p>
    {% endfor %}
    {% block content %}
    {% endblock %}
  </div>

  <div class="bg-img">
    <img src="{% static 'img/app/bg-1.svg' %}" alt="bg-1" class="bg-1" id="bg">
  </div>

  <nav aria-label="Page navigation" class="my-5">
    <ul class="pagination justify-content-center">
      <!-- 前へ の部分 -->
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
        </li>
      {% endif %}
      <!-- 数字の部分 -->
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="page-item active">
            <a class="page-link" href="#">{{ num }}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
        {% endif %}
      {% endfor %}
      <!-- 次へ の部分 -->
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>

  <a href="#top" id="btn-backtotop"><span class="arrow arrow_up"></span></a>

  <footer class="w-100">
    <div class="footer-wrapper pt-lg-5 pt-3 pb-3 mx-auto">
      <div class="footer-left w-100">
        <ul class="row text-center">
          <li class="col-md-4 col-12">
            <a href="{% url 'users:owner_profile' %}" target="_blank" rel="noopener noreferrer">
              {% trans "Who is Owner?" %}
            </a>
          </li>
          <li class="col-md-4 col-12">
            <a href="{% url 'app:policy' %}">
              {% trans "Privacy Policy" %}
            </a>
          </li>
          <li class="col-md-4 col-12">
            <a href="{% url 'app:terms' %}">
              {% trans "Terms of Service" %}
            </a>
          </li>
        </ul>
      </div>

      <hr noshade="" class="my-3">

      <div class="footer-right row py-3">
        <div class="col-lg-1"></div>
        <div class="column col-lg-3 col-12 mx-auto">
          <div class="mx-lg-0 mx-5">
            <a class="btn btn-block btn-social btn-facebook"
             href="http://www.facebook.com/share.php?u={{ request.scheme }}://{{ request.get_host }}{{ request.path }}&t={{ item_obj.title }}"
              target="_blank">
              <span class="fa fa-facebook"></span>share with Facebook
            </a>
          </div>
          <div class="mx-lg-0 mx-5">
            <a class="btn btn-block btn-social btn-twitter mt-1"
             href="https://twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}{{ request.path }}"
              target="_blank" rel="nofollow">
              <span class="fa fa-twitter"></span>share with Tweeter
            </a>
          </div>
        </div>
        <div class="good_button col-lg-8 col-12 mx-auto pt-5 d-flex">
          <div class="d-lg-block d-none mr-5 ml-0 px-auto" style="cursor: pointer;" data-count={{ip_address.good_count}}>
            <i class="fas fa-thumbs-up"></i>
              <span class="good_counter">
                {{ ip_address.good_count }}
              </span>
          </div>
          <div class="pt-1 mx-lg-0 mx-5 pl-5">
            <p class="copyright">Copyright © 2020 Djamazon Corporation All Rights. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- bootstrap -->
  <script src="//code.jquery.co6/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <!-- darkmode.js -->
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <script src="{% static 'js/app/darkmode.min.js' %}"></script>
  <!-- chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
    integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
    crossorigin="anonymous"></script>
  <script src="{% static 'js/app/pointHistory.min.js' %}"></script>
  <!-- device related -->
  <!-- need to understand webpack -->
  <!-- {% render_bundle 'main' 'js' %} -->
  <script src="{% static 'js/pointUp.min.js' %}"></script>
  <script src="{% static 'js/app/headerTitle.min.js' %}"></script>
  <script src="{% static 'js/app/changeLang.min.js' %}"></script>
  <script src="{% static 'js/app/pointFilter.min.js' %}"></script>
  <script src="{% static 'js/app/scrollButton.min.js' %}"></script>
  <script src="{% static 'js/app/mouseMove.min.js' %}"></script>
  <script src="{% static 'js/app/good.min.js' %}"></script>
  <script src="{% static 'js/app/onClick.min.js' %}"></script>
  <script src="{% static 'js/app/hoverFadeIn.min.js' %}"></script>
  <script src="{% static 'js/app/calendar.min.js' %}"></script>
  <script src="{% static 'js/app/logOutConfirm.min.js' %}"></script>
 </body>
</html>
