{% extends 'app/base.html' %}
{% load humanize %}
{% load filters %}

{% block content %}

<div class="cart">
  <h2>Cart</h2>
  <div class="purchase-form">
    <form action="{% url 'app:cart' %}" method="post">{% csrf_token %}
      <div class="purchase-form-container">
        <div class="purchase-form-address">
          <div>
            {{ purchase_form.non_field_errors }}
            {{ purchase_form.zip_code.label_tag }}
            {{ purchase_form.zip_code }}
            <input type="submit" name="search_address" value="Search Address">
            <span>{{ purchase_form.zip_code.help_text }}</span>
          </div>
          <div>
            {{ purchase_form.address.label_tag }}
            {{ purchase_form.address }}
          </div>
        </div>
        <div class="purchase-form-pay">
          Billing amount：{{ total_price | intcomma }}
          <input type="submit" name="buy_product" class="purchase-button" value="Purchase">
        </div>
      </div>
    </form>
  </div>






  {% for product, num in cart_products.items %}
  <div class="order-item">
    <div class="order-item-image">
      <a href="{% url 'app:detail' product.id %}">
        <img src="{{ product.image.url }}" class="product-img" alt="product-img">
      </a>
    </div>
    <div class="order-item-info">
      <h2>{{ product.name }}</h2>
      <div>Price：<span class="info-value">{{ product.price | intcomma }}</span>
      </div>
      <div>Number：<span class="info-value">{{ num | intcomma }}</span>
      </div>
      <hr>
      <div>Sum：<span class="info-value">{% multiply product.price num %}</span>
      </div>
      <div class="order-item-amount-form">
        <form action="{% url 'app:change_item_amount' %}" method="post">{% csrf_token %}
          <input type="hidden" name="product_id" value="{{ product.id }}}">
          <input type="submit" name="action_remove" value="一つ減らす">
          <input type="submit" name="action_add" value="一つ増やす">
        </form>
      </div>
    </div>
  </div>
  {% endfor %}

</div>


{% endblock %}