{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="product-detail row">
  <div class="product-detail-image col-sm-6 col-12">
    <img src="{{ product.image.url }}" class="product-img" alt="product-img">
  </div>

  <div class="product-detail-info col-sm-6 col-12">
    <h2>{{ product.name }}</h2>
    <hr>
    <div class="point-fav-section row">
      <h4 class="col-sm-6 col-12">{{ product.price | intcomma }} Point</h4>
      {% if request.user.is_authenticated %}
        <form action="{% url 'app:toggle_fav_product_status' %}" method="post" class="col-sm-6 col-12">{% csrf_token %}
          <input type="hidden" name="product_id" value="{{ product.id }}">
          {% if product in user.fav_products.all %}
            <input type="submit" name="submit" class="fav_button" value="remove from your favorite">
          {% else %}
            <input type="submit" name="submit" class="fav_button" value="add to your favorite">
          {% endif %}
        </form>
      {% endif %}
    </div>
    <p>{{ product.description }}</p>
    <div class="row">
      <div class="col-6">
        {% if request.user.is_authenticated %}
          <form action="{% url 'app:detail' product.id %}" method="post">{% csrf_token %}
            {{ add_to_cart_form.as_p }}
              <button class="purchase-button" type="submit">Add to Cart</button>
          </form>
        {% else %}
          <a href="{% url 'app:login' %}?next={{ request.path }}">
            <button class="purchase-button">Login and purchase</button>
          </a>
        {% endif %}
      </div>
      <div class="col-6 like-button">
        <li>
          {% if request.user.is_authenticated %}
              <a href="{% url 'app:like' %}" method="post">{% csrf_token %}
                <i class="fas fa-thumbs-up"></i>
              </a>
              {{ product.like }}
          {% endif %}
        </li>
      </div>
    </div>
  </div>
</div>
{% endblock %}
