{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="order-history">
  <h2 class="mt-sm-3 pt-sm-5 pb-5 pl-4">Order-history</h2>
  <canvas id="point-trasition" height="70px" class="px-5">
    Canvas not supported...
  </canvas>
  {% for sale in sales %}
  <div class="order-item mx-sm-5 px-sm-5 row">
    <div class="order-item-image col-6 px-5">
      <a href="{% url 'app:detail' sale.product.id %}">
        <img src="{{ sale.product.image.url }}" class="product-img" alt="product-img">
      </a>
    </div>
    <div class="order-item-info col-6 my-auto row">
      <div class="col-sm-8 col-12">
      <h2 class="pb-3">{{ sale.product.name }}</h2>
      <div>
        Price：<span class="info-value">{{ sale.price | intcomma }}</span>
      </div>
      <div>
        Number：<span class="info-value">{{ sale.amount | intcomma }}</span>
      </div>
      <hr>
      <div>
        Sum：<span class="info-value">{{ sale.total_price | intcomma }}</span>
      </div>
      <span class="info-timestamp">{{ sale.created_at | date:"Y/m/d" }}</span>
    </div>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}