{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="order-history">
  <h2 class="mt-3 pt-5 pb-5 pl-4">Order-history</h2>
  <canvas id="point-trasition" height="70px" class="px-lg-5">
    Canvas not supported...
  </canvas>
  <div class="row">
    {% for sale in sales %}
    <div class="order-item px-lg-5 col-lg-6 col-12 row">
      <div class="order-item-image col-6 px-lg-5">
        <a href="{% url 'app:detail' sale.product.id %}">
          <img src="{{ sale.product.image.url }}" class="product-img" alt="product-img">
        </a>
      </div>
      <div class="order-item-info col-6 my-auto row">
        <div class="col-lg-8 col-12">
          <h4 class="pb-3">{{ sale.product.name }}</h4>
          <div>
            Price：<span class="info-value">{{ sale.price | intcomma }}</span>
          </div>
          <div>
            Number：<span class="info-value">{{ sale.amount | intcomma }}</span>
          </div>
          <hr>
          <div>
            Sum：<span class="info-value">{{ sale.total_price | intcomma }}</span>
          </div>
          <span class="info-timestamp">{{ sale.created_at | date:"Y/m/d" }}</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}