{% extends 'app/base.html' %}

{% block content %}
<div class="welcome-message">
  <div class="fly-in">
    <div>
      Welcome to DJAMAZON!!
    </div>
    <div>
      YOU will FIND
    </div>
    <div>
      AWESOME
    </div>
    <div>
      UNIQUE
    </div>
    <div>
      TECHNICAL ITEMS
    </div>
    <div>
      FROM NOW
    </div>
    <div>
      YOU are OUR FAMILY
    </div>
    <div>
      ENJOY Shopping
    </div>
  </div>
</div>




<form method="post" action="{% url 'app:signup' %}">{% csrf_token %}
  <h2 class="d-flex justify-content-center pb-5">Signup</h2>

  <div class="row">
    <div class="col-sm-8 col-12">
      <div>
        <label>Email</label><br>
        {{ form.email }}
        {{ form.email.errors }}
        <br>
      </div>

      <div>
        <label>Password</label><br>
        {{ form.password1 }}
        {{ form.password1.errors }}
        <br>
      </div>

      <div>
        <label>password(Again)</label><br>
        {{ form.password2 }}
        {{ form.password2.errors }}
        <br>
      </div>

      <div class="pt-3 pb-5">
        <input type="submit" value="Signup">
      </div>

    </div>



    <div class="col-sm-4 col-12">
      <ul class="d-flex align-items-center"></ul>
        <li class="social_account pb-2">..or signup with<br> your Google account</li>
        <li class="pb-5"><a href="{% url 'social:begin' 'google-oauth2' %}"><img src="./../media/google.png"
              style="width: 30px; height: auto;" alt=""></a></li>
      </ul>
    </div>
  </div>

</form>








{% endblock %}